* {
	margin: 0;
	padding: 0;
}

*:link,
*:visited,
* {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	font-family: "Livvic", sans-serif;

	//1 rem=9px, 9/16 =56.25%
	@include respond(tab-land) {
		font-size: 56.25%;
	}
	//1 rem=8px, 8/16 =50%
	@include respond(tab-port) {
		font-size: 50%;
	}
	@include respond(phone) {
		font-size: 30%;
	}

	@include respond(big-desktop) {
		font-size: 75%;
	}
}

body {
	line-height: 1.6;
	font-family: inherit;
}
